.rpc-rating-stars {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    &__star {
        font-size: 22px !important;
        color: #ffd732;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 3px;
        }
    }

    &__count {
        color: #fff;
        margin-left: 5px;
        font-size: 12px;
    }
}
