.rpc-player {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    width: 800px;
    max-width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
